<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saneh">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Saneh"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".editClassInfo" />
        <activity android:name=".editProfileInfo" />
        <activity android:name=".admin_settings" />
        <activity android:name=".sign_up" />
        <activity android:name=".profile" />
        <activity android:name=".adminAddList" />
        <activity android:name=".adminAdd" />

        <activity android:name=".adminEdit"/>
        <activity android:name=".upcomingReservations"/>
        <activity android:name=".search"/>
        <activity android:name=".Login"/>
        <activity android:name=".SplashscreenActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".Remainder">
        </receiver>
        <receiver
            android:name=".Remainder2">
        </receiver>

    </application>

</manifest>